@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

$header-color: #8ad4ff;
$button-color: #e5e5e5;
$button-hover-color: #c5c5c5;
$setting-on-color: #c7ffc2;
$settting-on-border: #9aff91;
$start-new-game-color: #6bceff;
$start-new-game-border: #05acff;
$solve-for-me-color: #d373ff;
$solve-for-me-border: #b412ff;

$base-padding: 1em;
$header-elements-padding: 0.5em;
$max-board-width: 22.5em;

$font-size: 0.9rem;
$font-weight: 400;
$header-font-size: 1.5rem;
$header-font-weight: 600;
$font-family: Poppins, Arial, Sans-Serif;
